.site-body {
  padding: 24px 0;
  height: 100%;
}

a {
  &:hover, &:active {
    opacity: .75;
  }
}

.header {
  background-color: transparent;
  border: none;

  h1 {
    a {
      color: $body-font-color;
    }
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
  }

  h2 {
    font-size: $font-size-small;
    margin: 22px 0;
  }

  h3 {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }

  ul {
    list-style: none;

    & ul {
      margin-left: 6px;

      & li {
        font-style: italic;
      }

      @media #{$medium-up} {
        max-height: 320px;
        overflow: scroll;
      }
    }

    @media #{$medium-up} {
      margin-left: 0;
    }

    @media #{$small-only} {
      display: none;
      // @include inline-list();
    }
  }

  @media #{$small} {
    position: fixed;
  }
}

.post {
  background-color: transparent;
  border: none;
  height: 100%;

  h1 {
    a {
      color: $body-font-color;
    }
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
  }

  h2 {
    font-size: $font-size-small;
    margin: 22px 0;
  }

  h3 {
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }

  .date {
    font-style: italic;
    font-size: $font-size-xsmall;
    display: block;
    margin-bottom: 14px;
  }

  // .full-image {
  //   display: inline-block;
  //   max-height: 100vh;
  //   width: 100%;
  //   overflow: hidden;
  //   text-align: center;
  //
  //   @media #{$medium-up} {
  //     &:before {
  //       content: '';
  //       display: inline-block;
  //       height: 100%;
  //       vertical-align: middle;
  //     }
  //   }
  //
  //   @media #{$small-only} {
  //     height: auto;
  //     width: auto;
  //     margin: 12px 0;
  //   }
  //
  //   img {
  //     display: inline-block;
  //
  //     // default image proportions
  //     &, &.post-image {
  //       height: auto;
  //       width: 100%;
  //
  //       @media #{$small-only} {
  //         height: auto;
  //         width: 95%;
  //       }
  //     }
  //
  //     &.post-image-tall {
  //       // tall image proportions
  //       height: 100%;
  //       width: auto;
  //
  //       @media #{$small-only} {
  //         height: auto;
  //         width: 90%;
  //       }
  //     }
  //   }
  // }

  .full-image {
    text-align: center;
    margin: 12px 0;

    img {
      display: inline-block;

      // default image proportions
      &, &.post-image {
        height: auto;
        width: 100%;
      }
      // tall image proportions
      &.post-image-tall {
        width: 80%;
      }
    }
  }
}

.footer {
  p {
    font-size: $font-size-xsmall;
  }
}
